/*
Credits: Dimitra Vasilopoulou
https://bashooka.com/coding/web-background-animation-effects/
https://codepen.io/mimikos/pen/wKqyqY
*/

html, body{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    overflow: hidden;
    background: #191d1e; /* Old browsers */
    background: -moz-linear-gradient(0deg,  #191d1e 50%, #283139 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#191d1e), color-stop(100%,#283139)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* IE10+ */
    background: linear-gradient(0deg,  #191d1e 50%,#283139 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-attachment: fixed
}

#projector {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
}

.center-div {
    width:580px;
    height:374px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -290px;
    margin-top:  -187px;
}

#preloaderDiv
{
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -27px;
    margin-top:  -27px;
}

#logo{
    opacity:0;
    filter: alpha(opacity=0);
}

#date2014
{
    position:absolute;
    padding-left: 210px;
    padding-top:15px;
    opacity:0;
    top:303px;
    left:0;
    filter: alpha(opacity=0);
}

/* End credit */


textarea {
    margin-top: 10px;
    margin-left: 50px;
    width: 800px;
    height: 300px;
    overflow: auto;
    resize: both;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: lightgrey;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}

.field{
    resize: both;
}


textarea:focus {
    background: none repeat scroll 0 0 #191d1e;
    outline-width: 0;
}

.infront {
    position: relative;
}

.counter{
    color: lightgrey;
    font-size: smaller;

}

.counter-anim{
    animation: counter-pop 0.4s ease-in-out;
    animation-delay: 0s;
}

.clipboard-anim{
    animation: clipboard-pop 0.1s ease-in-out;
    animation-delay: 0s;
}

@keyframes clipboard-pop {
    50%  {
        transform: scale(1.1);
    }
}

@keyframes counter-pop {
    50%  {
        transform: scale(1.25);
    }
}